@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Holtwood+One+SC&family=The+Nautigal:wght@400;700&display=swap");

.achieveSec {
  display: grid;
  grid-template-areas: "achievementBox achieveHead";
  grid-template-columns: 3fr 1fr;
}
.achieveHead {
  grid-area: achieveHead;
  /* text-align: right; */
  /* align-items: end; */
  height: 15vh;
  width: 30vw;
  font-family: serif;
  font-weight: 700;
  font-style: normal;
  transform: rotate(90deg);
  position: sticky;
  top: 40%;
  margin-left: 1.6em;
  margin-top: 8em;
  margin-bottom: 5em;
  font-size: 5.5em;
  padding: 0;
  color: #000;
  /* padding: 1em; */
  /* border: 1px solid #000; */
}
.myText {
  font-size: 5em;
  color: #222;
}
.tealText {
  color: #054a46;
}
.achievementBox {
  grid-area: achievementBox;
  padding: 2em;
  width: 70vw;
}

.achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5em;
  height: 60vh;
  padding: 1em;
  border-radius: 2em;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(5, 74, 70, 0.2);
}
#achBox1 {
  position: sticky;
  top: 15%;
  width: 41vw;
}
#achBox2 {
  position: sticky;
  top: 20%;
  width: 44vw;
  /* background-color: #8d604d;
    box-shadow: 0 0 16px #583222; */
}
#achBox3 {
  position: sticky;
  top: 25%;
  width: 47vw;
  /* background-color: #643b2b;
    box-shadow: 0 0 16px #583222; */
}
#achBox4 {
  position: sticky;
  top: 30%;
  width: 50vw;
  /* background-color: #4e2b1e;
    box-shadow: 0 0 16px #583222; */
}
#achBox5 {
  position: sticky;
  top: 35%;
  width: 53vw;
  /* background-color: #4e2b1e;
    box-shadow: 0 0 16px #583222; */
}
.achieveTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 2em;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #054a46;
  text-transform: uppercase;
}
.achNumber {
  width: 5rem;
  height: 5rem;
  font-weight: 700;
  margin-right: 1em;
  border-radius: 50%;
  background: linear-gradient(135deg, #054a46, #000);
  color: #fff;
  padding: 0.5em;
}
.achContent {
  font-size: 1.5em;
  text-align: justify;
  padding: 1em;
  margin: 1em;
  margin-top: 0;
  color: #444;
  letter-spacing: 0.05em;
}
