.experienceSec {
  height: 140vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "experienceHead experience";
  grid-template-columns: 1fr 3fr;
  /* border: 2px solid #000; */
}
.experienceHead {
  grid-area: experienceHead;
  text-align: left;
  height: 20%;
  /* width: 30vw; */
  margin: 0;
  margin-top: 3em;
  margin-left: -1em;
  transform: rotate(-90deg);
  color: #000;
}
.tealText {
  color: #054a46;
}
.experience {
  grid-area: experience;
  position: relative;
  height: 100vh;
  /* margin-top: 2em; */
  margin-bottom: 4em;
  margin-right: 10em;
  margin-left: -15em;
  display: flex;
  flex-direction: column;
  border-radius: 4em;
  /* border: 5px solid #000; */
}
.bdo {
  display: flex;
  flex-direction: column;
  width: 45vw;
  /* height: 70vh; */
  margin: 1.5em;
  padding: 1em;
  text-align: left;
}
.hsbc {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 1.5em;
  margin-left: 30vw;
  padding: 1em;
  width: 45vw;
  height: 60vh;
}
.orgName{
  margin: 0;
  padding: 0 2em 0 2em;
  color: #222;

}
.roleDesc{
  margin: 0;
  border-radius: 1em;
  padding: 0 2em 2em 2em;
  /* border: 2px solid #054a46; */
  box-shadow: 4px 5px 10px rgba(5, 74, 70, 0.2);
}
.companyRole {
  font-size: 2em;
  letter-spacing: 0.3em;
  font-weight: 600;
  color: #054a46;
  text-transform: uppercase
}
.orgHead {
  font-size: 5em;
  margin-bottom: 0.2em;
  /* width: 20vw; */
  /* color: #60260d; */
}
.duration {
  margin: 0;
  color: #444;
  font-size: 2em;
  /* border: 2px solid #000; */
}
.description {
  color: #444;
  text-align: justify;
  font-size: 1.8em;
  max-width: 40vw;
  line-height: 1.5em;
}

.container {
  position: absolute;
  display: grid;
  place-items: center;
  /* border: 2px solid #000;
  border-radius: 12px; */
}

.initial {
  left: 75%;
  top: 30%;
  width: 200px;
  height: 200px;
}

.second {
  left: 10%;
  top: 95%;
  width: 200px;
  height: 200px;
}

.marker {
  width: 100%;
  height: 100%;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background: linear-gradient(135deg, #fec5fb, #00bae2); */
  background: linear-gradient(135deg, #054a46, #000);
  box-shadow: 0 0 20px #444;
  /* display: grid; */
  font-weight: 700;
}
