 body{
    background: #f5f5f5;
 }
 .projSec, .skillSec, .contactmeSec{
  background: #f5f5f5;
  height: 100vh;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  /* margin: 1em; */
  /* border: 1px solid #000; */
}
.achieveSec{
  height: 400vh;
}
h1 {
  font-size: 6em;
  text-align: center;
  margin: 0 auto;
}
h2 {
  font-size: 4em;
  /* margin: 0 auto; */
  /* border: 2px solid #000; */
}